/* CSS declarations go here */


@mixin rounded($amount){
	border-radius: $amount;
}

@mixin circle($diameter,$bg-color){
	width: $diameter;
	height: $diameter;
	background-color: $bg-color;
	border-radius: 100%;
}


#pokedex {
	background-color: #FB0505;
	width: 419px;
  height: 613px;
  border-radius: 42px;
  box-shadow: -13px 10px 0 10px #e50000;
  margin: 0 auto;

	#top-indicator-area {
		 margin: 15px 0;

		#big-blue-indicator-light {
			@include circle(70px, white);
			border:solid black 2px;
		  margin: 20px 0 0 20px;
		  display: inline-block;

			.big-blue-indicator-light-inner-circle {
				@include circle(55px, #01ffff);
				margin: 2px 7px;
				border: solid black 3px;
			}
		}

		#small-indicator-lights {
			display: inline-block;
			list-style: none;
			margin: 15px 10px;
		  padding: 0;
		  vertical-align: top;

			.small-indicator-light {
				float: left;
				border: solid black 2px;
				box-shadow: -3px 1px 0px 0px black;
				margin-right: 10px;
			}

			.red-light {
				@include circle(17px, #FA0505)
			}
			.yellow-light {
				@include circle(17px, #FBFB05)
			}
			.green-light {
				@include circle(17px, #4FFA05)
			}
		}
	}


	#curve-areas {
		position: relative;

		.top-area-curves {
			display: inline-block;
			height: 20px;
		  width: 50%;

		  &.left-curve {
		  	margin-top: -13px;
			  border-bottom: solid black 9px;
			  border-right: solid black 4px;
			  border-bottom-right-radius: 51px;
			}

			&.right-curve {
			  border-top: solid black 9px;
			  border-left: solid black 4px;
			  border-top-left-radius: 51px;
			  margin-top: -61px;
	  		margin-left: -4px;
			  position: absolute;
			}
		}

		.top-area-curve-connector {
			height: 19px;
		  background-color: black;
		  width: 4px;
		  display: inline-block;
		  margin: -32px 0 0 -4px;
		  position: absolute;
		}
	}

	#pokeball-container {
		display: inline-block;
		@include circle(55px, white);
	  border: solid black 2px;
	  float: right;
	  box-shadow: -3px 1px 0px 0px black;
	  margin: -57px 27px 0 0;

	  #pokeball-top-half {
	  	background-color: #FE0000;
	  	border-top-left-radius: 100px;
	  	border-top-right-radius: 100px;
	  	height: 25.5px;
	  	border-bottom: solid black 3px;
	  }

	  #pokeball-center-ball {
	  	@include circle(18px, white);
	  	border: solid black 3px;
	  	margin: -13px auto;
	  }
	}
}

#display-wrapper {

	#display-container {
		position: relative;
		background-color: #B0B0B0;
	  border: solid black 4px;
	  margin: 0 auto;
	  width: 370px;
	  height: 270px;
	  border-radius: 10px;
	  box-shadow: -1px 3px 0 1px black;

  	#display-cutout {
	  	width: 0;
	  	height: 0;
	  	border-style: solid;
	  	border-width: 60px 0 0 60px;
	  	border-color: transparent transparent transparent #FB0505;
	  	position: absolute;
	  	bottom: -8px;
	  	left: -6px;

	  	#display-cutout-faux-border {
	  		background-color: black;
			  height: 80px;
			  width: 7px;
			  transform: rotate(135deg);
			  bottom: -7px;
			  left: -32px;
			  position: absolute;
	  	}
	  }

		#display-indicator-lights {
			list-style: none;
			margin: 2px -22px;
		  left: 50%;
		  position: absolute;
		  padding: 0;

			.display-light-red {
				@include circle(10px, #F90404);
				border: solid black 2px;
				float: left;
				margin-right: 10px;
				box-shadow: -2px 0 0 0 black;
			}
		}

		#display-screen {
			background-color: white;
		  border-radius: 10px;
		  margin: 17px auto 8px auto;
		  width: 345px;
		  height: 186px;
		  border: solid black 3px;
		}

		#display-controls {
			margin-left: 50px;

			#display-btn {
				@include circle(35px, #FB0505);
				border: solid black 3px;
				display: inline-block;
			}

			#display-speakers {
				list-style: none;
				margin: 0 30px 0 0;
				padding: 0;
				display: inline-block;
				float: right;

				.display-speaker {
					background-color: black;
					width: 106px;
					height: 10px;
					margin: 4px 0;
					border-radius: 4px;
				}
			}
		}

	}
}




