/*PAGE*/

#container {
  margin: 0 auto;
}

body {
  background-image: url('http://subtlepatterns.com/patterns/geometry2.png');
}

/*SLIDESHOW*/
.hide-me {
  display: none;
}

.display-me {
  display: block !important;
}

#slideshow{
  margin: 0 auto;
  display: inline-block;
}

.arrow {
  display: inline-block;
  font-size: 35px;
  float: right;
  margin: 0 5px;

}
.img {
  width: 419px;
  height: 613px;
  background-size: cover;
  margin: 0 auto;
}

#img_1 {
  background-image: url('pokdx_img_1.png');
}

#img_2 {
  background-image: url('pokdx_img_2.png');
}

#img_3 {
  background-image: url('pokdx_img_3.png');
}

#img_4 {
  background-image: url('pokdx_img_4.png');
}

#img_5 {
  background-image: url('pokdx_img_5.png');
}

/*EXPLANATION*/

#explanation {
  font-family: Helvetica;
  font-size: 18px;
  background-color: rgba(142, 203, 211, 0.7);
  padding: 20px;
  width: 240px;
  top: 0;
  display: inline-block;
  float: left;
  margin: 30px 65px 0 21px;
  border-radius: 10px;
}

#byline {
  text-align: center;
}

#explanation a {
  color: black;
}

#explanation hr {
  border-color: black;
}
