<template name="about">

	<div id='about-container'>
		<p>
			Pure CSS Pokedex
			<br>
			(to help you catch 'em all)
			<br>
			<a href="https://github.com/trinityXmontoya/pokedex">Repo</a>
			<br>
			<a href="https://www.meteor.com/">MeteorJS</a> +
			<a href="https://www.mongodb.org/">MongoDB</a>
			<br>
			Created by <a href='http://trinityxmontoya.github.io/'>Trinity Montoya</a>
			<br>
		  <img id='about-squirtle-gif' src="images/cool-squirtle.gif" alt="">
		  <br>
		  Tested in Chrome 52.0.2743.116 and Firefox 47.0
	  </p>
  </div>

</template>
