<template name="about">

	<div id='about-container'>
		<p>
			Pure CSS Pokedex
			<br>
			(to help you catch 'em all)
			<br>
			<a href="https://github.com/trinityXmontoya/pokedex">Repo</a>
			<br>
			<a href="https://www.meteor.com/">MeteorJS</a> +
			<a href="https://www.mongodb.org/">MongoDB</a>
			<br>
			Created by <a href='http://www.trinitymontoya.com/'>Trinity Montoya</a>
			<br>
		  <img id='about-squirtle-gif' src="https://33.media.tumblr.com/1b4df6af45ea2d075eddea259d99f3bb/tumblr_n06ukcRZUy1tr9moqo1_500.gif" alt="">
		  <br>
		  Note: Only tested in Chrome 43.0.2 and Firefox 35.0.1(and even then only kind of...)
	  </p>
  </div>

</template>