<template name="controlPanel">

	<div id="info-container">
		<div id="info-header">
			{{currentPage.title}}
		</div>
		<div id="info-bottom-area">
			<a href="/" class='home-link'>
				<div id="info-btn">
					<p class='icon-home'></p>
				</div>
			</a>
			<div id="info-screen">
				{{{currentPage.desc}}}
			</div>
			<div id="info-arrow-keys">
				<div data-direction="up" class="arrow-key key-top">
					<div class="arrow-up"></div>
				</div>
				<div data-direction="left" class="arrow-key key-left">
					<div class="arrow-left"></div>
				</div>
				<div class="arrow-key-center"></div>
				<div data-direction="right" class="arrow-key key-right">
					<div class="arrow-right"></div>
				</div>
				<div data-direction="down" class="arrow-key key-bottom">
					<div class="arrow-down"></div>
				</div>
			</div>
		</div>
	</div>

</template>