<template name="pokeType">

	<div id="poke-type-table-container">
		<p id='poke-type-table-header'>{{session "currentType"}}</p>
		<br>
		<table id="poke-type-table">
			<thead class='poke-tablehead'>
				<th class='poke-table-th dashed-border-right'>ID</th>
				<th class='poke-table-th' >Info</th>
			</thead>

			{{#each pokemon}}
			<tr class='poke-table-tr'>
				<td class='poke-table-td dashed-border-right'>{{id}}</td>
				<td class='poke-table-td'>
					<img class='poke-table-img' src="http://pokeapi.co/media/img/{{id}}.png">
					{{name}}
					<a href="/poke/{{id}}">View Stats</a>
				</td>
			</tr>
			{{/each}}
		</table>
	</div>

</template>