<head>
  <title>pokedex</title>
</head>

<body>
  {{> shell}}
  <div id="audio"></div>
</body>

<template name="shell">

	<div id="wrapper">
		<div id="pokedex">
			<div id="top-indicator-area">
				<div id="indicator-lights">
					<div id="big-blue-indicator-light">
						<div class="big-blue-indicator-light-inner-circle"></div>
					</div>
					<ul id="small-indicator-lights">
						<li class="small-indicator-light red-light"></li>
						<li class="small-indicator-light yellow-light"></li>
						<li class="small-indicator-light green-light"></li>
					</ul>
				</div>
				<div id="curve-areas">
					<div class="top-area-curves left-curve"></div>
					<div class="top-area-curve-connector"></div>
					<div class="top-area-curves right-curve"></div>
				</div>
				<div id="pokeball-container">
					<div id="pokeball-top-half"></div>
					<div id="pokeball-center-ball"></div>
				</div>
			</div>
			{{>display}}
			{{>info}}
		</div>
	</div>

</template>

<template name="display">

	<div id="display-wrapper">
		<div id="display-container">
			<div id="display-cutout">
				<div id="display-cutout-faux-border"></div>
			</div>
			<ul id="display-indicator-lights">
				<li class="display-light-red"></li>
				<li class="display-light-red"></li>
			</ul>
			<div id="display-screen">
				<div id="display-screen-content">
					{{>displayScreenContent}}
				</div>
			</div>
			<div id="display-controls">
				<div id="display-btn">
					<p class='icon-volume-down'></p>
				</div>
				<ul id="display-speakers">
					<li class="display-speaker"></li>
					<li class="display-speaker"></li>
					<li class="display-speaker"></li>
				</ul>
			</div>
		</div>
	</div>

	<audio id="pokemon-theme-song" src="http://a.tumblr.com/tumblr_lt59z9tjGx1qgw2ypo1.mp3"></audio>
</template>

<template name="info">

	<div id="info-container">
		<div id="info-header">
			{{currentPage.title}}
		</div>
		<div id="info-bottom-area">
			<a href="/" class='home-link'>
				<div id="info-btn">
					<p class='icon-home'></p>
				</div>
			</a>
			<div id="info-screen">
				{{{currentPage.desc}}}
			</div>
			<div id="info-arrow-keys">
				<div class="arrow-key key-top"></div>
				<div class="arrow-key key-left"></div>
				<div class="arrow-key-center"></div>
				<div class="arrow-key key-right"></div>
				<div class="arrow-key key-bottom"></div>
			</div>
		</div>
	</div>

</template>

<template name="displayScreenContent">
	{{>currentScreen}}
</template>

<template name="defaultScreen">
	<img src="images/pokemon-loading-screen.gif">
</template>

<template name="ErrScreen">
	Not sure how you got here...
	Return to normalcy!
</template>


<template name="pokeShow">
	<!-- {{#if Template.subscriptionsReady}} -->
		{{#with session "currentPokemon"}}
			<div id="poke-img">
				<img src="http://assets7.pokemon.com/assets/cms2/img/pokedex/detail/{{padId id}}.png" alt="">
			</div>
			<ul class="poke-stats">
				<li>
					<span class="key">Weight:</span> {{weight}}lbs
				</li>
				<li>
					<span class="key">Height:</span>{{height}}ft
				</li>
				<li>
					<span class="key">HP:</span> {{hp}}
				</li>
				<li>
					<span class="key">Attack:</span> {{attack}}
				</li>
				<li>
					<span class="key">Defense:</span> {{defense}}
				</li>
				<li>
					<span class="key">Speed:</span> {{speed}}
				</li>
				<li>
					<span class="key">Special Attack:</span> {{special_attack}}
				</li>
				<li>
					<span class="key">Special Defense:</span> {{special_defense}}
				</li>
				<li>
					<span class="key">Type:</span>
					{{{typeFormat types}}}
				</li>
				{{#if evolutions}}
				<li>
					<span class="key">Evolves to:</span> {{{evolutionFormat evolutions}}}
				</li>
				{{/if}}
			</ul>
		{{/with}}
	<!-- {{/if}} -->
</template>

<template name="pokeType">
	<div id="poke-type-table-container">
		<p id='poke-type-table-header'>{{session "currentType"}}</p>
		<br>
		<table id="poke-type-table">
			<thead class='poke-tablehead'>
				<th class='poke-table-th dashed-border-right'>ID</th>
				<th class='poke-table-th' >Info</th>
			</thead>

			{{#each pokemon}}
			<tr class='poke-table-tr'>
				<td class='poke-table-td dashed-border-right'>{{id}}</td>
				<td class='poke-table-td'>
					<img class='poke-table-img' src="http://pokeapi.co/media/img/{{id}}.png">
					{{name}}
					<a href="/poke/{{id}}">View Stats</a>
				</td>
			</tr>
			{{/each}}
		</table>
	</div>
</template>

<template name="pokeTypeIndex">
	<ul>
		{{#each pokeTypes}}
			<a href="/type/{{this}}"><li>{{this}}</li></a>
		{{/each}}
	</ul>
</template>

<template name="pokeIndex">
	{{#each pokemon}}
		<a href="/poke/{{id}}">
			<div class="poke-container" style="background-image:url('http://pokeapi.co/media/img/{{id}}.png')">
				<p class="poke-id">{{id}}</p>
				<p class="poke-name">{{name}}</p>
			</div>
		</a>
	{{/each}}
</template>