@import "mixins.scss";

// --------------------
// POKEDEX SHELL
// --------------------
* {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#pokedex {
	background-color: #FB0505;
	width: 419px;
  height: 613px;
  border-radius: 42px;
  box-shadow: -13px 10px 0 10px #e50000;
  margin: 0 auto 40px auto;
	font-family: monospace;

	#top-indicator-area {
		 margin: 15px 0 5px 0;
		 overflow: hidden;

		#big-blue-indicator-light {
			@include circle(70px, white);
			@include BLK-border(2px);
		  margin: 20px 0 0 20px;
		  display: inline-block;

			#big-blue-indicator-light-inner-circle {
				@include circle(55px, #01ffff);
				@include BLK-border(3px);
				margin: 2px 7px;
			}
		}

		#small-indicator-lights {
			display: inline-block;
			list-style: none;
			margin: 15px 10px;
		  padding: 0;
		  vertical-align: top;

			.small-indicator-light {
				@include BLK-border(2px);
				float: left;
				box-shadow: -3px 1px 0px 0px black;
				margin-right: 10px;
			}

			.red-light {
				@include circle(17px, #FA0505)
			}
			.yellow-light {
				@include circle(17px, #FBFB05)
			}
			.green-light {
				@include circle(17px, #4FFA05)
			}
		}
	}


	#curve-areas {
		position: relative;

		.top-area-curves {
			display: inline-block;
			height: 20px;
		  width: 50%;

		  &.left-curve {
		  	margin-top: -13px;
			  border-bottom: solid black 9px;
			  border-right: solid black 4px;
			  border-bottom-right-radius: 51px;
			}

			&.right-curve {
			  border-top: solid black 9px;
			  border-left: solid black 4px;
			  border-top-left-radius: 51px;
			  margin-top: -61px;
	  		margin-left: -4px;
			  position: absolute;
			}
		}

		.top-area-curve-connector {
			height: 20px;
		  background-color: black;
		  width: 4px;
		  display: inline-block;
		  margin: -33px 0 0 -4px;
		  position: absolute;
		}
	}

	#pokeball-container {
		@include circle(55px, white);
	  @include BLK-border(2px);
	  display: inline-block;
	  float: right;
	  box-shadow: -3px 1px 0px 0px black;
	  margin: -57px 27px 4px 0;

	  #pokeball-top-half {
	  	background-color: #FE0000;
	  	border-top-left-radius: 100px;
	  	border-top-right-radius: 100px;
	  	height: 25.5px;
	  	border-bottom: solid black 3px;
	  }

	  #pokeball-center-ball {
	  	@include circle(18px, white);
	  	@include BLK-border(3px);
	  	margin: -13px auto;
	  }
	}
}

// --------------------
// DISPLAY SHELL
// --------------------
#display-wrapper {
	margin-bottom: 15px;

	#display-container {
		@include BLK-border(4px);
		position: relative;
		background-color: #B0B0B0;
	  margin: 0 auto;
	  width: 370px;
	  height: 270px;
	  border-radius: 10px;
	  box-shadow: -1px 3px 0 1px black;

  	#display-cutout {
	  	width: 0;
	  	height: 0;
	  	border-style: solid;
	  	border-width: 60px 0 0 60px;
	  	border-color: transparent transparent transparent #FB0505;
	  	position: absolute;
	  	bottom: -10px;
	  	left: -7px;

	  	#display-cutout-faux-border {
	  		background-color: black;
			  height: 80px;
			  width: 7px;
			  transform: rotate(135deg);
			  bottom: -7px;
			  left: -32px;
			  position: absolute;
	  	}
	  }

		#display-indicator-lights {
			list-style: none;
			margin: 2px -22px;
		  left: 50%;
		  position: absolute;
		  padding: 0;

			.display-light-red {
				@include circle(10px, #F90404);
				@include BLK-border(2px);
				float: left;
				margin-right: 10px;
				box-shadow: -2px 0 0 0 black;
			}
		}

		#display-screen {
			@include BLK-border(3px);
			background-color: white;
		  border-radius: 10px;
		  margin: 17px auto 8px auto;
		  width: 345px;
		  height: 186px;

		  #display-screen-content {
		  	display: flex;
  			flex-wrap: wrap;
		  	max-width: 100%;
			  max-height: 100%;
			  overflow: hidden;
			  margin: 0 auto;
  			text-align: center;
  			overflow-y: scroll;
		  }
		}

		#display-controls {
			margin-left: 50px;

			#display-btn {
				@include circle(35px, #FB0505);
				@include BLK-border(3px);
				@include btn-click-effect(2px);
				display: inline-block;
				box-shadow: 0 2px 0 0 black;
				text-align: center;
				transform-style: preserve-3d;

				.icon-volume-down {
					@include vertical-align;
					margin: 0;
					padding: 0;
					font-family: 'font-awesome-specific';
					font-size: 1rem;
					color: #F76E6E;
  				text-shadow: 1px 1px 1px #E00000;
				}
			}

			#display-speakers {
				list-style: none;
				margin: 0 30px 0 0;
				padding: 0;
				display: inline-block;
				float: right;

				.display-speaker {
					background-color: black;
					width: 106px;
					height: 10px;
					margin: 4px 0;
					border-radius: 4px;
				}
			}
		}
	}
}

// --------------------
// DISPLAY CONTENT
// --------------------

// 'index'
.poke-container {
	@include BLK-border(4px);
	position: relative;
	display: inline-flex;
	width: 72px;
	height: 72px;
	background-size: contain;
	color: #23CD1F;
	margin: 3px;

	.poke-id {
		position: absolute;
		top: 0;
		background-color: black;
		padding: 0;
		margin: 0;
		border-bottom-right-radius: 5px;
		min-width: 22px;
	}

	.poke-name {
		position: absolute;
		bottom: 0;
		background-color: black;
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: left;
		font-size: .7rem
	}
}

// 'show'
#poke-img {
	margin-top: 10px;
	display: inline-block;
	img {
		width: 140px;
	}
}
.poke-stats {
	max-width: 50%;
	display: inline-block;
	padding: 0;
	margin: 10px 0;
	list-style: none;
	font-size: .9rem;
	text-align: left;
	margin-top: 10px;

	li:last-child {
		margin-bottom: 10px;
	}

	.key {
		text-transform: uppercase;
	}
}

// 'types'
#poke-type-table-container{
	display: block;
	margin: 6px;

	#poke-type-table-header {
		font-size: 1.5rem;
		text-transform: capitalize;
		padding: 0;
		margin: 0;
		text-align: left;
	}

	#poke-type-table {
		font-size: .9rem;
		text-align: left;

		.dashed-border-right {
			border-right: dashed black 2px;
		}

		.poke-tablehead {
			border-bottom: dashed black 2px;

			.poke-table-th {
				text-transform: uppercase;
				border-bottom: dashed black 2px;
			}
		}

		.poke-table-tr {
			vertical-align: bottom;

			.poke-table-td {
				border-bottom: dashed black 2px;

				.poke-table-img {
					width: 30px;
					vertical-align: inherit;
				}
			}
		}
	}
}

// 'typeIndex'
#poke-type-index-list {
	flex: 1;
  list-style: none;
  text-transform: uppercase;
  margin: 15px auto;
  padding: 0;

  .poke-type-li {
		margin-bottom: 5px;
  }
}

// 'about'
#about-container {
	flex: 1;

	#about-squirtle-gif {
		width: 112px;
	}
}

// '404'
#four-oh-four-gif {
	flex: 1;
}

// --------------------
// INFO SHELL
// --------------------
#info-container {
	@include BLK-border(4px);
	width: 370px;
  background-color: #B0B0B0;
  margin: 0 auto;
  border-radius: 9px;
	color: black;

	#info-header {
		@include BLK-border(2px);
		background-color: #FBFB05;
		border-radius:  6px;
		text-align: center;
		text-transform: uppercase;
		margin: 7px auto;
		width: 350px;
		font-size: 1rem;
  	padding: 4px 0;
	}

	#info-bottom-area {
		margin-bottom: 17px;
		padding-top: 17px;

		.home-link {
			color: transparent;

			#info-btn {
				@include circle(35px, #307BFB);
				@include BLK-border(2px);
				@include btn-click-effect(2px);
				vertical-align: top;
				display: inline-block;
				margin: 0 5px;
				box-shadow: 0px 2px 0 0 black;

				.icon-home {
					@include vertical-align;
					margin: 0;
					padding: 0;
					font-family: 'font-awesome-specific';
					font-size: 1rem;
					color: #5493FF;
					text-align: center;
					text-shadow: 1px 1px 1px #486392;
				}
			}
		}

		#info-screen {
			@include BLK-border(2px);
			display: inline-block;
		  width: 204px;
		  height: 66px;
		  font-size: .9rem;
		  background-color: #FBFB05;
		  padding: 5px;
		  margin: -5px 6px 0 -5px;
		  overflow-y: scroll;
		}

		#info-arrow-keys {
			display: inline-block;
			position: relative;
			vertical-align: top;
			margin: -11px 0;

			.arrow-key {
				background-color: #056565;
				position: absolute;
				border: solid 2px black;
				box-shadow: 0 2px 0 0 black;
				@include btn-click-effect();

				&.key-left {
				  width: 38px;
				  height: 20px;
				  margin-top: 25px;
				  border-top-left-radius: 5px;
				  border-bottom-left-radius: 5px;
				  border-right: none;

				  .arrow-left {
				  	@include vertical-align;
						width: 0;
						height: 0;
						border-top: 8px solid transparent;
						border-bottom: 8px solid transparent;
						border-right:8px solid #1C8C8C;
						margin-left: 3px;
					}
				}
				&.key-right {
				  width: 38px;
				  height: 20px;
				  margin-top: 25px;
				  margin-left: 39px;
				  border-top-right-radius: 5px;
				  border-bottom-right-radius: 5px;
				  border-left: none;

				  .arrow-right {
						width: 0;
						height: 0;
						border-top: 8px solid transparent;
						border-bottom: 8px solid transparent;
						border-left: 8px solid #1C8C8C;
						position: absolute;
  					right: 3px;
  					top: 50%;
  					transform: translateY(-50%);
					}

				}
				&.key-top {
					width: 20px;
				  height: 38px;
				  border-top-left-radius: 5px;
				  border-top-right-radius: 5px;
				  margin: -2px 27px;
				  border-bottom: none;
				  z-index: 1;

				  .arrow-up {
				  	width: 0;
						height: 0;
						border-left: 8px solid transparent;
						border-right: 8px solid transparent;
						border-bottom: 8px solid #1C8C8C;
						margin: 3px auto;
				  }
				}
				&.key-bottom {
					width: 20px;
				  height: 38px;
				  border-bottom-left-radius: 5px;
				  border-bottom-right-radius: 5px;
				  left: 50%;
				  margin: 35px 0 0 27px;
				  border-top: none;

				  .arrow-down {
						width: 0;
						height: 0;
						border-left: 8px solid transparent;
						border-right: 8px solid transparent;
						border-top: 8px solid #1C8C8C;
						position: absolute;
  					bottom: 3px;
  					left: 50%;
  					margin-left: -7px;
					}
				}
			}

			.arrow-key-center {
				position: absolute;
			  background-color: #056565;
			  height: 20px;
			  width: 34px;
			  margin: 27px 0 0 23px;
			  z-index: 2;
			}
		}
	}
}

